@model IEnumerable<MultiPART.Models.ViewModel.ProjectProgressViewModel>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 row">

    <div class="btn btn-danger ">Death</div>
    <div class="btn btn-success ">Completed</div>
    <div class="btn btn-primary ">In Experiment</div>
    <div class="btn btn-info ">Not Yet Randomized</div>
</div>
<br /><br /><br />
@Html.EditorForModel()