@{
    ViewBag.Title = "Contact Us";
}

<section class=" container tab-pane" id="contact">
    <form role="form" id="contactForm">
        <div class="col-md-12">
            <div id="loading" class="progress fade in">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
                    <span class="sr-only">Submitting</span>
                </div>
            </div>
            <div id="formSubmitSuccess" class="alert alert-success fade in " role="alert" hidden>
                <strong>Success!</strong>
                <br />
                Thanks <span id="nameSpan"></span>. Your message has been submitted.
                                        <br />
                You should shortly recieve an automated email.
            </div>
            <div id="formSubmitError" class="alert alert-danger fade in" role="alert" hidden>
                <strong>Oops!</strong> The online contact form does not appear to be working as expected at the moment.<br />
                To register please contact CAMARADES team directly at multipart.team@ed.ac.uk
            </div>

            <div id="formSubmitNetworkError" class="alert alert-danger fade in" role="alert" hidden>
                <button type="button" class="close" onclick="$('#formSubmitNetworkError').hide()"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <strong>Oops!</strong> There appears to be a problem with the network connection.<br />
                Please check your internet connection and try again.<br />
                <br />
                If this error persists please directly contact Multi-PART team at multipart.team@ed.ac.uk
            </div>
        </div>
        <div class="col-md-8 col-sm-offset-2">

            <div class="row form-group">
                <label for="subject" class="col-sm-3">Subject Category*</label>
                <div class="col-sm-9">
                    <select class="form-control" name="subject" required>
                        <option value="General Question about CAMARADES">About Multi-PART</option>
                        <option value="Equry about CAMARADES Website">About the Multi-PART Website</option>
                        <option value="Work with CAMARADES">Joining Multi-PART</option>
                        <option value="Others">Other Comments</option>
                    </select>
                </div>
            </div>
                        <div class="row form-group">
                <label for="institution" class="col-sm-3">Subject *</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" name="institution" placeholder="Subject" required />
                </div>
            </div>
            <div class="row form-group">
                <label for="message" class="col-sm-12 control-label">Message *</label><br />
                <div class="col-sm-12">
                    <textarea rows="15" class="form-control" id="message" name="message" placeholder="Message"></textarea>
                </div>
            </div>

            <div class="buttons formButtons pull-right form-group">
                <button type="reset" class="btn btn-default">
                    Reset
                </button>
                <input id="btnSubmit" type="submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</section>

<script src="/Scripts/contact.js"></script>
