@model MultiPART.Models.ViewModel.AdministrationViewModel

<div class="row col-xs-12 form-group">

    <div class="col-xs-4 col-xs-offset-3">
        @Html.DisplayFor(model => model.StartTime, new { @class = "form-control" })
    </div>

    <div class="col-sm-4 col-xs-4">
        @Html.DisplayFor(model => model.EndTime, new { @class = "form-control" })
    </div>
</div>
