@model IEnumerable<MultiPART.Models.ViewModel.ProcedureDetailViewModel>
@{
    ViewBag.Title = ViewBag.ProcedureName + " Details";
}

<br />

<div>

    @Html.DisplayForModel()

</div>
<br />

<div class="row col-xs-12">
    <div class="col-sm-offset-5">
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-lg btn-default">Back</a>
    </div>
</div>




