@model IEnumerable<MultiPART.Models.ViewModel.TutorialVideo>

@{
    ViewBag.Title = "Tutorial Video List";
}

<div class="container">
    <div class="row col-xs-12">

        @Html.EditorForModel()

    </div>
</div>
