@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "An error occurred while processing your request";
}

<hgroup class="title">
    @*<h2 class="error">@ViewBag.Title</h2>*@
    @*<br />*@
    <h3>@ViewBag.ErrorMessage</h3>
</hgroup>
