@model MultiPART.Models.ViewModel.DataEntryFormPreviewViewModel

<h4 class="col-xs-6">
    @Html.DisplayFor(m => m.DataEntryFieldName)
    @Html.DisplayFor(m => m.Mandatory)
</h4>

<h4 class="col-xs-6">
    @Html.DisplayFor(m => m.Multiple)

</h4>